<head>
  <title><%= content_for(:title) || "Admin" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="shortcut icon" type="image/jpg" href="/Logo-icon.png" />
  <link rel="stylesheet" href="/assets/backend/themes/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/backend/themes/bower_components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/backend/themes/bower_components/Ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="/assets/backend/themes/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/assets/backend/themes/dist/css/skins/_all-skins.min.css">
  <link rel="stylesheet" href="/assets/backend/themes/plugins/iCheck/square/blue.css">
  <link rel="stylesheet" href="/assets/backend/themes/style_back.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <style>
    .alert {
      position: fixed;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1050;
      display: none; 
      opacity: 0; 
      transition: opacity 0.5s ease-in-out; 
    }
    .alert.show {
      display: block; 
      opacity: 1;
    }
    .td-d {
        max-width: 150px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
        cursor: pointer;
    }
    .table img {
        border-radius: 5px;
        transition: transform 0.3s ease;
    }

    .table th, td{
        text-align: center;
        vertical-align: middle !important;
    }

    .table img:hover {
        transform: scale(1.05);
    }
    .select2-container--default.select2-container--open{
        z-index: 1;
    }
  </style>
  <%= yield :styles %> 
</head>
  