<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render 'layouts/backend/head' %>
  <body class="hold-transition login-page">
    <%= yield %>
    <script src="/assets/backend/themes/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/assets/backend/themes/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/backend/themes/plugins/iCheck/icheck.min.js"></script>
  </body>
</html>