<ul class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to home_index_path do %>
        <i class="fas fa-home"> </i>
      <% end %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Tài khoản", home_login_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to "Đăng ký", home_register_path %>
    </li>
</ul>
  