<%= content_for :title, "Đăng xuất" %>
<main>
    <div id="common-success" class="container mt-4">
        <div class="row">
            <div id="content" class="col text-center">
                <p> Bạn đã đăng xuất khỏi tài khoản thành công. </p>
                <div class="d-inline-block pt-2 pd-2 w-100 ">
                    <div class="text-center"><a href="/" class="btn btn-primary">Tiếp tục</a></div>
                </div>
            </div>
            <%= render 'home/aside' %>
        </div>
    </div>
</main>