
<%= content_for :title, @page.name %>
<style>
    figure.attachment.attachment--preview, h1 {
        text-align: center;
    }
</style>
<div id="information-information" class="container">
    <div class="row">
        <div id="content" class="col">
            <%= raw @page.description %>
        </div>
    </div>
</div>



