<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="mb-3 lozad" src="https://www.flowercorner.vn/image/catalog/1px.webp"
                    data-src="https://flowercorner.b-cdn.net/image/catalog/common/shop-hoa-tuoi-flowercorner-logo.png.webp"
                    width="255" height="53" alt="shop hoa Flowercorner.vn" title="shop hoa Flowercorner.vn">
                Hotline: 1900 123 456 - 1900 789 123
                Email: example@flowercorner.vn
                <div class="row mt-3 mb-3">
                    <div class="col-md-5">
                        <img class="lozad" src="https://www.flowercorner.vn/image/catalog/1px.webp"
                            data-src="https://flowercorner.b-cdn.net/image/catalog/common/app/qr.png.webp"
                            width="92" height="114" alt="quét để tải app FlowerCorner"
                            title="quét để tải app FlowerCorner">
                    </div>
                    <div class="col-md-7">
                        <p>Tải ứng dụng ngay!</p>
                        <p>
                            <a><img class="lozad"
                                    src="https://www.flowercorner.vn/image/catalog/1px.webp"
                                    data-src="https://flowercorner.b-cdn.net/image/catalog/common/app/appstore.png.webp"
                                    width="139" height="35" alt="FlowerCorner trên app store"
                                    title="FlowerCorner trên app store"></a>
                        </p>
                        <p></p>
                        <p>
                            <a><img
                                    class="lozad" src="https://www.flowercorner.vn/image/catalog/1px.webp"
                                    data-src="https://flowercorner.b-cdn.net/image/catalog/common/app/gplay.png.webp"
                                    width="139" height="35" alt="FlowerCorner trên Google play"
                                    title="FlowerCorner trên Google play"></a>
                        </p>
                        <p></p>
                    </div>
                </div>
                <div>
                    <p>
                        <a>
                            <img class="lozad" src="https://www.flowercorner.vn/image/catalog/1px.webp"
                                data-src="https://flowercorner.b-cdn.net/image/catalog/common/app/logoSaleNoti.png.webp"
                                alt="da khai bao" width="255" height="96">
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-sm-3">
                <h5 class="mb-3">CHĂM SÓC KHÁCH HÀNG</h5>
                <div>
                    <% @pages.each do |page| %>
                        <p><%= link_to page.name, page_detail_path(slug: page.slug), rel: "nofollow" %></p>
                    <% end %>
                </div>
            </div>
            <div class="col-sm-2">
                <h5 class="mb-3">THEO DÕI</h5>
                <div>
                    <p><a href="#" rel="nofollow"> <i
                                class="fa-brands fa-facebook" aria-hidden="true"></i> Facebook</a> </p>
                    <p><a href="#" rel="nofollow"> <i
                                class="fa-brands fa-twitter-square" aria-hidden="true"></i> Twitter</a> </p>
                    <p><a href="#" rel="nofollow"> <i
                                class="fa-brands fa-instagram" aria-hidden="true"></i> Instagram</a> </p>
                    <p><a href="#" rel="nofollow"> <i
                                class="fa-brands fa-linkedin" aria-hidden="true"></i> Linkedin</a> </p>
                    <p><a href="#" rel="nofollow"> <i
                                class="fa-brands fa-youtube" aria-hidden="true"></i> Youtube</a> </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h5 class="mb-3">SHOP HOA FLOWERCORNER</h5>
                <p><b>Cửa hàng chính:</b>: <a href="#">Nguyễn Thái Học, Vũng Tàu</a></p>
                <br>

                <p><b>Cửa Hàng TP.HCM</b>: <a href="#">Ba Cu, Vũng Tàu</a></p>
                <br>

                <p><b>Chi nhánh Hà Nội</b>: <a href="#" rel="follow">Trương Công Định, Vũng Tàu</a> </p>
                <p>CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ ABC<br />Mã số thuế: 123 456</p>
            </div>
        </div>
    </div>
</footer>