<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<title><%= yield :title %> | Flowercorner</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="shortcut icon" type="image/jpg" href="/Logo-icon.png" />

<!-- <script src="/assets/frontend/js/index/script1.js"></script> -->
<script src="/assets/frontend/js/index/script2.js"></script>
<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet"> -->
 <link href="/assets/frontend/fontawesome-free-6.7.2-web/css/all.min.css" rel="stylesheet">

<link rel="stylesheet" href="/assets/frontend/css/style1.css">
<!-- <link rel="preload" href="https://www.flowercorner.vn/catalog/view/stylesheet/fonts/fontawesome/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
<link rel="stylesheet" href="https://flowercorner.b-cdn.net/catalog/view/stylesheet/fonts/fontawesome/css/all.min.css">
</noscript> -->
<link rel="preload" href="/assets/frontend/css/font-Montserrat.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript>
<link rel="stylesheet" href="/assets/frontend/css/font-Montserrat.css">
</noscript>
<link rel="stylesheet" href="/assets/frontend/css/style2.css">
<link rel="stylesheet" href="/assets/frontend/css/style3.css">
<script src="/assets/frontend/js/index/script3.js"></script>
<script src="/assets/frontend/js/index/script4.js"></script>
<script src="/assets/frontend/js/index/script5.js"></script>
<script src="/assets/frontend/js/index/script6.js"></script>
<!-- <script src="/assets/frontend/js/index/script7.js"></script> -->